@import "tailwindcss";
@plugin "daisyui" {
  themes:
    emerald --default,
    forest --prefersdark;
}

html body {
  .form-control .label {
    margin-bottom: 6px;
  }

  .btn.loading {
    font-size: 0;
    text-shadow: none;

    > svg,
    > .iconify,
    > .iconify-inline {
      visibility: hidden;
    }
  }

  .input,
  .select,
  .textarea {
    &:focus,
    &:focus-within {
      outline-offset: 0;
    }
  }
}
